<div class="container" [ngClass]="{ 'live-mode': isLiveMode }">
  <a routerLink="/admin">
    <div [ngClass]="{ 'text-background': true, warn: isEnd }">
      <p *ngIf="text" class="showing-text">{{ text }}</p>
      <p [ngClass]="{ 'countdown-text': true, warn: isEnd }">
        <span *ngFor="let letter of timeLetters">
          {{ letter }}
        </span>
      </p>
    </div>
  </a>

  <img class="sponsor-container" src="/assets/sponsors.svg" />
  <div class="logo-container">
    <img class="logo" src="/assets/jwc12-logo.png" (click)="toggleLiveMode()" />
    <div class="slogan">
      <p>Make Your Site,</p>
      <p>Write Your Future</p>
    </div>
  </div>
</div>
