<div class="container" [ngClass]="{ 'live-mode': isLiveMode }">
  <a routerLink="/admin">
    <div class="underline dot"></div>
    <div [ngClass]="{ 'text-background': true, warn: isEnd }">
      <p *ngIf="text" class="showing-text">{{ text }}</p>
      <p [ngClass]="{ 'countdown-text': true, warn: isEnd }">
        <span *ngFor="let letter of timeLetters">
          {{ letter }}
        </span>
      </p>
    </div>
    <div class="underline"></div>
  </a>

  <img class="sponsor-container" src="/assets/sponsors.svg" />
  <img class="logo" src="/assets/jwc12-logo.png" (click)="toggleLiveMode()" />
</div>
